[submodule "cours1-introduction"]
	path = cours1-introduction
	url = git@github.com:ps-pat/mat8186-cours1.git
[submodule "cours2-fondations"]
	path = cours2-fondations
	url = git@github.com:ps-pat/mat8186-cours2.git
