/* Color theme:
   https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=212121&primary.text.color=FFE0B2&secondary.color=004D40
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* Colors */
body.notebook_app.rise-enabled,
div.output_stderr {
    background-color: #212121;
}
.rise-enabled #exit_b,
.rise-enabled #help_b,
.reveal .controls button {
    color: #004d40;
}

.rise-enabled .reveal a {
    text-decoration-color: #39796b;
    transition: 150ms linear;
}

.rise-enabled .reveal a:hover {
    color: #39796b;
    text-decoration-color: #e65100;
}

.slide-number a {
    pointer-events: none;
}

.rise-enabled .reveal .slide-number {
    right: 1.25rem;
    bottom: 5.25ex;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal p,
.subtitle1,
.subtitle2,
ol,
ul,
caption,
.rise-enabled .reveal a,
.CodeMirror pre.CodeMirror-line,
.dataframe td,
body.rise-enabled.theme-black div.output_text pre,
body.rise-enabled.theme-black div.rendered_html {
    color: #ffe0b2;
}

/* Typography. */
/* Get rid of default text transform. */
.reveal h1, .reveal h2, .reveal h3 {
    text-transform: none;
}

.rendered_html h1:first-child,
.rendered_html h2:first-child,
.rendered_html h3:first-child {
    margin-top: 0em;
}

.reveal p {
    margin: 0.5em;
}

.present {
    text-align: justify;
}

.rendered_html em {
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: #e65100;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 3px;
}

.reveal strong {
    font-weight: normal;
    color: #ffb74d;
}

.reveal h1,
.reveal h2,
.reveal h3,
.subtitle1,
.subtitle2 {
    font-family: "Roboto Condensed", sans-serif;
}

.slide-number a span {
    font-family: "Fira Mono", monospace;
    font-size: 0.465rem;
}

.reveal p,
ol,
ul,
.rise-enabled .reveal a {
    font-family: "Fira Sans", sans-serif;
}

html {
    font-size: 200%;
    font-family: "Fira Sans", sans-serif;
}

.reveal p,
.subtitle1,
ul,
ol,
.rise-enabled .reveal a {
    font-size: 1rem;
    line-height: 1.4rem;
}

.reveal p,
ul,
ol,
.rise-enabled .reveal a {
    letter-spacing: 0.03125rem;
}

.reveal ul {
    margin-top: 0rem;
}

.subtitle1,
.subtitle2 {
    opacity: 0.5;
    margin-left: 1rem;
    font-style: italic;
}

.subtitle1 {
    letter-spacing: 0.009375rem;
}

.subtitle2 {
    font-size: 0.62rem;
    font-weight: bolder;
    letter-spacing: 0.00625rem;
    line-height: 0.868rem;
}

caption {
    font-size: 0.465rem;
    letter-spacing: 0.0333rem;
}

.reveal h1 {
    font-size: 3.62rem;
    font-weight: lighter;
    letter-spacing: -0.015625rem;
}

.reveal h2 {
    font-size: 2.62em;
    font-weight: lighter;
    letter-spacing: 0.0083rem;
}

.reveal h3 {
    font-size: 1.62rem;
    font-weight: normal;
    letter-spacing: 0rem;
}

/* Code. */
.reveal code,
body,
body.rise-enabled.theme-black div.input_prompt,
.CodeMirror,
.rise-enabled .rendered_html table {
    font-family: "Fira Mono", monospace;
    color: #ffe0b2;
}

.dataframe caption,
.output_subarea ol {
    font-size: 0.62rem;
}

.rendered_html pre,
.rendered_html pre code,
 div.input_area,
 .rendered_html tbody tr:nth-child(2n+1) {
    background-color: #000000;
    /* background-color: #484848; */
    max-height: none;
}

.rendered_html pre,
div.input_area,
.ctb_global_show .ctb_show + .input_area {
    border: 5px solid #484848;
    border-radius: 10px;
}

.rise-enabled .reveal pre:not(pre.CodeMirror-line) {
    margin-left: auto;
    margin-right: auto;
    width: 50ch;
}

.CodeMirror pre.CodeMirror-line {
    margin-left: 0;
    margin-right: 0;
}

.CodeMirror-cursor,
.CodeMirror div.CodeMirror-secondarycursor {
  border-color: #ffe0b2;
}

.rise-enabled .prompt,
.rise-enabled .reveal pre {
    font-size: 1em;
}

.cm-s-ipython span.cm-keyword,
.cm-s-ipython span.cm-builtin,
.cm-s-ipython span.cm-operator,
span.cm-operator.cm-arrow,
.cm-s-ipython span.cm-atom {
    color: #e65100;
}

.cm-s-ipython span.cm-comment,
.cm-s-ipython span.cm-variable,
.cm-s-ipython span.cm-variable-2,
.cm-s-ipython span.cm-string,
.cm-s-ipython span.cm-number {
    color: #ffe0b2;
}

.cm-s-ipython span.cm-comment {
    opacity: 0.5;
}

.rendered_html code {
    background-color: #212121;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #e65100;
}

.rendered_html pre code {
    text-decoration-line: none;
}

.cm-s-ipython span.cm-variable-2,
.cm-s-ipython span.cm-string {
    opacity: 0.75;
}

.cm-s-ipython span.cm-keyword,
.cm-s-ipython span.cm-atom {
    font-weight: bold;
}

/* Images */
.reveal.reveal img
{
    border: none;
    box-shadow: none;
    max-height: calc(66vh);
    max-width: calc(66vw);
}

/* Cell */
div.text_cell_render {
    padding: 0em;
}

.output_area {
    margin-left: auto;
    margin-right: auto;
}
